@page "/turnos/edit/{TurnoId:int}"
@attribute [Authorize(Roles = "Administrador")]

<PageTitle>Editar Turno</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="h3">Modificar Turno</h1>

        @if (_isBusy || _newModel == null)
        {
            <div class="d-flex justify-content-center my-5">
                <MudProgressCircular Color="Color.Info" Indeterminate="true" />
            </div>
        }
        else
        {
            <EditForm Model="@_newModel" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />

                <hr />

                <div class="input-group mb-3">
                    <MudTextField AdornmentColor="Color.Primary" OnlyValidateIfDirty="true"
                              Label="@(DisplayName.GetDisplayName(_model, m => m.Descripcion))"
                              HelperText="El rango de días (Separados por un '-' o, si son más de dos,
                                por una ','), seguido por el rango de horas (Separados de la misma
                                forma. Utilizar el sistema de 24 horas), pueden ser abreviaciones.
                                Ejemplo: Lunes-Viernes 06:00-16:00 "
                              @bind-Value="_newModel.Descripcion" For="@(() => _newModel.Descripcion)"
                              Variant="Variant.Outlined" />
                </div>

                <div class="input-group justify-content-center mb-3">
                    <MudRadioGroup @bind-SelectedOption="_newModel.Habilitado" For="() => _newModel.Habilitado"
                               T="bool">
                        <MudRadio Option="true" Color="Color.Primary">Habilitado</MudRadio>
                        <MudRadio Option="false" Color="Color.Primary">Deshabilitado</MudRadio>
                    </MudRadioGroup>
                </div>

                <hr />

                <div class="input-group justify-content-between mb-3">
                    <MudButton Href="servicios" Color="Color.Secondary" Variant="Variant.Filled"
                           StartIcon="fa fa-angle-left">Regresar</MudButton>

                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled"
                           EndIcon="fa fa-check">Actualizar</MudButton>
                </div>
            </EditForm>
        }
    </div>
</div>
