@page "/servicios/create"

<PageTitle>Dar de alta Servicio</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="h3">Create</h1>

        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <MudTextField Label="Descripción" AdornmentColor="Color.Primary" Placeholder="Inserte texto"
                          @bind-Value="_model.Descripcion" For="@(() => _model.Descripcion)" />
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled"
                       Class="ms-auto">Register</MudButton>
        </EditForm>
    </div>
</div>
