<div class="row justify-content-center">
     <div class="col-md-6">
         @*<div class="card">
             <div class="card-body">
                 <h1 class="card-title">Asistencias del día</h1>
                 <hr />
                <p class="card-text"><strong>7</strong></p>
             </div>
        </div>*@

        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Asistencias del mes</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Los intendentes marcan su asistencia diariamente. Dentro de este mes se han calculado <strong>16</strong> registros en total.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
            </MudCardActions>
        </MudCard>
     </div>
</div>

@code {

}
