<div class="row justify-content-center">
    <div class="col-md-4 align-content-center">
        <div class="card border-warning">
            <div class="card-header bg-warning text-white">
                <div class="row align-content-center py-3">
                    <div class="col text-center mb-3">
                        <i class="fa fa-key fa-4x"></i>
                    </div>

                    <div class="col mb-3">
                        <h2 class="h1 text-center">15</h2>
                    </div>
                </div>

                <div class="row align-content-center">
                    <div class="col">
                        <h1 class="h5 text-start"><b>Cambios pendientes de contraseña</b></h1>
                    </div>
                </div>
            </div>

            <a href="usuarios">
                <div class="card-footer text-warning">
                    <div class="row align-content-center">
                        <div class="col-10 align-content-center text-start">
                            Ir a Usuarios
                        </div>

                        <div class="col text-end">
                            <div>
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    @*<div class="col-md-4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Asistencias del mes</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Los intendentes marcan su asistencia diariamente. Dentro de este mes se han calculado <strong>16</strong> registros en total.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
            </MudCardActions>
        </MudCard>
    </div>*@
</div>

@code {

}
