<div class="row justify-content-center">
    <div class="col-md-4 align-content-center">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <div class="row align-content-center py-3">
                    <div class="col-5 text-start mb-3">
                        <i class="fa fa-clipboard-list fa-4x"></i>
                    </div>

                    <div class="col mb-3">
                        <h1 class="h1 text-center">15</h1>
                    </div>
                </div>

                <div class="row align-content-center">
                    <div class="col">
                        <h2 class="h5 text-start"><b>Asistencias del mes</b></h2>
                    </div>
                </div>
            </div>

            <a href="#">
                <div class="card-footer text-danger">
                    <div class="row align-content-center">
                        <div class="col-10 align-content-center text-start">
                            Ver Detalles
                        </div>

                        <div class="col text-end">
                            <div>
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@code {

}
